h2 {
  color: #788D3B;
}

h1{
  color: #D8E8B9;
}

body {
  background-color: #523E33;
}

h3 {
  color: white;
}

p {
  color: white;
}

.button1 {
  background-color: green;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 50%;
}
