body {
   font-family: 'Droid Sans', sans-serif;
   color: #523E33;
}

footer {
  margin-top: 75px;
  line-height: .3;
  color: #788D3B;
}

.socialicons{
  float: right;
  clear: both;
  margin-right: 35px;
  letter-spacing: 10px;
  color: #788D3B;
}

img.logo {
    display: block;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto 
    
}

.nondiscrem {
  font-size: x-small;
  font-style: italic;
  padding-bottom: 20px;
  line-height: normal;
  text-align: center;
  margin-top: 75px;
}

.motto {
  text-align: center;
  padding-bottom: 45px;
  padding-top: 30px;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}

.location {
  margin-left: 20px;
}


div .span_1_of_4 {
  text-align: center;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF FOUR  */
.span_4_of_4 {
	width: 100%;
}
.span_3_of_4 {
	width: 74.6%;
}
.span_2_of_4 {
	width: 49.2%;
}
.span_1_of_4 {
	width: 23.8%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
}

